@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    This web application was built to capture and store basic information on students in campus. 
    All users are required to register before gaining access to the information on our database.
    Registrations will be screened by the system admin and access will only be granted upon successful registrations.
    ONLY users with Admin user roles will be allowed to edit, add, delete and view the data.
</p>
