@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<table class="table">
    <tr>
        <th>
            Student Name
        </th>
        <th>
            Student No.
        </th>
        <th>
            Email
        </th>
        <th>
            Contact No.
        </th>
    </tr>
    <tr>
        <td>
            T Rajcoomar
        </td>
        <td>
            21540540
        </td>
        <td>
            <a href="mailto:21540540@dut4life.ac.za">21540540@dut4life.ac.za</a>
        </td>
        <td>
            078 195 2690
        </td>
    </tr>
    <tr>
        <td>
            Y Pillay
        </td>
        <td>
            21632604
        </td>
        <td>
            <a href="mailto:21632604@dut4life.ac.za">21632604@dut4life.ac.za</a>
        </td>
        <td>
            061 664 0248
        </td>
    </tr>
    <tr>
        <td>
            S Ramrattan
        </td>
        <td>
            21626872
        </td>
        <td>
            <a href="mailto:21626872@dut4life.ac.za">21626872@dut4life.ac.za</a>
        </td>
        <td>
           078 744 7115
        </td>
    </tr>
    <tr>
        <td>
            B Krishna
            
        </td>
        <td>
            21622006
            
        </td>
        <td>
            <a href="mailto:21622006@dut4life.ac.za">21622006@dut4life.ac.za</a>
        </td>
        <td>
            081 593 6236
        </td>
    </tr>
    <tr>
        <td>
            
            A Govender
            
        </td>
        <td>
            
            21639072
            
        </td>
        <td>
            <a href="mailto:21639072@dut4life.ac.za">21639072@dut4life.ac.za</a>
        </td>
        <td>
            071 234 1191
        </td>
    </tr>
    <tr>
        <td>
            S Iyavoo
            
        </td>
        <td>
            21627467
            
        </td>
        <td>
            <a href="mailto:21627467@dut4life.ac.za">21627467@dut4life.ac.za</a>
        </td>
        <td>
            079 439 4753
        </td>
    </tr>
    <tr>
        <td>
            T Naidoo
        </td>
        <td>
            21618582
        </td>
        <td>
            <a href="mailto:21618582@dut4life.ac.za">21618582@dut4life.ac.za</a>
        </td>
        <td>
            084 077 4815
        </td>
    </tr>
    <tr>
        <td>
            D Gopalan
        </td>
        <td>
            21636567
        </td>
        <td>
            <a href="mailto:21636567@dut4life.ac.za">21636567@dut4life.ac.za</a>
        </td>
        <td>
            084 563 7600
        </td>
    </tr>
    <tr>
        <td>
            A Lategan
        </td>
        <td>
            21645129
        </td>
        <td>
            <a href="mailto:21645129@dut4life.ac.za">21645129@dut4life.ac.za</a>
        </td>
        <td>
            074 043 0199
        </td>
    </tr>

</table>