@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Capstone Project</h1>
    <p class="lead">This web application was built to store students' information. Please note that you are required to log in to gain access to student information.</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>View Students</h2>
        <p>
            Are you already registered as an admin? Click the button below to log in and view all the students on our database.
        </p>
        <p><button class="btn btn-submit">@Html.ActionLink("View Students", "Index","Students")</button></p>
    </div>
    <div class="col-md-4">
        <h2>Register Now</h2>
        <p>
            Don't have an account with us yet? Hit "Register Now" to create a free account with us. You will be able to view our database once your account registration is approved.
        </p>
        <p><button class="btn btn-submit">@Html.ActionLink("Register Now", "Register", "Account")</button></p>
    </div>
    <div class="col-md-4">
        <h2>Developers Info</h2>
        <p>Interested in getting to know more about the team behind this capstone project? Click below for more details on our team members.</p>
        <p><button class="btn btn-submit">@Html.ActionLink("Contact Us", "Contact", "Home")</button></p>
    </div>
</div>